@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 6.08%;
    --foreground: 0 0% 96%;
    --muted: 240 3% 10%;
    --muted-foreground: 0 0% 50%;
    --popover: 270 6% 7%;
    --popover-foreground: 0 0% 98%;
    --card: 240 3.23% 6.08%;
    --card-foreground: 0 0% 98%;
    --border: 260 4.92% 11.96%;
    --input: 255 4% 18%;
    --primary: 48 96% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 0% 85.85%;
    --secondary-foreground: 0 0% 5.85%;
    --accent: 24.68 0% 18.46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 95.54% 58.57%;
    --destructive-foreground: 0 0% 98%;
    --ring: 24.68 0.04% 31.83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-x-hidden;
  }
}
